<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <div modal-title><h5>Novo Usuário</h5></div>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input [(ngModel)]="user.name" type="text" id="name" class="form-control" name="name" required>
      </div>

      <div class="form-group form-check">
        <input [(ngModel)]="user.active" type="checkbox" id="active" class="form-check-input" name="active" required>
        <label for="name">Ativo?</label>
      </div>

    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Incluir</button>
    </div>
  </modal>
</form>
